*{box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
  
  
  body{
  margin: 0;
  padding: 0;
  background-color: rgb(237, 238, 232);
  font-family: 'Big Shoulders Stencil Display', cursive;
  /*font-family: 'Spline Sans', sans-serif*/
  }
    
  #firstbar{
   background-color: black;
   color: rgb(235, 223, 55);  
   width: 100% !important;
   height: 50px;
   position: sticky;
   top:0;
   font-size: 18px;
   text-align: right;
   padding: 15px;
   z-index: 1;
  }
  
  font{
  float: left;
  letter-spacing: 2px;

  }
  
  span{
   font-size: 13px;
   letter-spacing: 1px;
  }
   
  #general{
   width: 80%;
   margin: auto;
   height: auto;
   
  }
  
  header{
   width: 100%;
   height: 250px;
   box-shadow: 0ch 2px 12px 2px rgb(212, 149, 221);
   background-color: black;
   font-size: 40px;
   color: white;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   position: relative;  
   }
  
  #imagex{
   width: 100%;
   height: 250px;
   opacity: 0.8;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   opacity: 0.8;
   
   }
  #mainx{
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  
  }
  section{
  width: 100%;
  height: auto;
  background-color: rgb(217, 231, 231);
  box-shadow: 0ch 2px 8px 2px rgb(152, 125, 158);
  margin-top: 20px;
  overflow: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  }
  nav{
   float: left;
   margin-top: 10px;
   height: auto;
   padding: 5px;
  }
  nav ul{
   width: auto;
   height: 100%;
   margin:auto;
   padding: 15px;

  }
  nav li{
   list-style: none;
   font-size: 25px;
    
  }
  
  nav li a{
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    color:rgb(66, 18, 18) ;
    display:block;
    padding-left: 15px;
    border-bottom: 1px solid #b5b5b5;
    
    
  }
  
  nav li a:hover{
  background-color: rgb(54, 66, 66);
  color: azure;
  }
  
  i{
   margin-left: 20px;
  }
  
  main{
    float:right;
    height: auto;
    width: 80% ;
    padding: 10px;
    
  }
  .in{
   width: 45%;
   height: auto;
   display: inline-block;
   margin-right: 20px ;
   box-shadow: 0ch 2px 10px 2px rgb(111, 92, 114);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin-bottom: 18px;
   border-radius: 5px;
   
   
    
  }
  .pic{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition:opacity 0.8s;
    animation-duration: 0.8;
    animation-name: rotate;
    transform: rotate(360deg);
    

   }
  .pic:hover{
   opacity: 0.6;
  }
 
  h5{
    margin: 10px ;
  }
  
  p{
    margin: 10px;
  }
  
  .btndevam{
    display: block;
    width: 120px;
    height: 35px;
    background-color: dodgerblue;
    color: white;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align:center;
    overflow:auto;

    
  }
 
  footer{
  
  width: 100%;
  height:70px ;
  color: rgba(224, 224, 9, 0.732);
  background-color: rgb(5, 4, 4);
  text-align: center;
  line-height: 70px;
  box-shadow: 0ch 2px 8px 4px #313031a9;
  
 }
 h1{
   text-align: center;
   color: rgb(251, 255, 247);
   background-color: rgb(131, 30, 160);
   height: 55px;
   line-height: 55px;
   margin:0 15px;
   border-radius: 5px;
   box-shadow:0ch 2px 5px 2px rgb(168, 128, 189);
   
   
  }
 #aboutpic{
   width: 35%;
   height: 300px;
   float: left;
   margin: 20px;
   border-radius: 10px;
   margin-bottom: 10px;
 }
  .abouttxt{
   size: 25px;
   margin-right: 15px;
   font-size: 15px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-indent: 30px;
   color: #312f2f; 
}
 

.refer{
  width: 31%;
  height: 280x;
  border-radius: 5px;
  margin: 10px;
  float: left;
  background-color: rgba(255, 252, 248, 0.924);
  box-shadow: #e7bcbc;
  margin-left: 14px;

}



.rfrpic{
  width: 100%;
  height: 170px;
  border-top :5px ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.7;
  transition: 0.8s;
}

.rfrpic:hover{
  opacity: 1.3;
}

.rfrmain{
  font-size: 20px;
  display: inline-block;
  margin-top: -5px;
  color: #312f2f;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: rgb(194, 195, 195);
  width: 100%;

}

.prtxt{
  text-align: center;
}

.glrpic{
  width: 22%;
  height: 200px;
  border-radius: 5px;
  box-shadow: #dca8e9;
  opacity: 0.8;
  transition: all 0.5s;
  margin: 10px; 
  margin-left:16px ;
}
.glrpic:hover{
  opacity: 1;
  border: 5px solid rgba(155, 86, 155, 0.993);
  cursor: pointer;
}

iframe{
  width: 50%;
  height: 350px;
  margin: 10px;
  border-radius: 5px;
  margin: 10px;
  margin-left: 20px;
  background-color: #312f2f;
  opacity: 0.7;
  transition: opacity 0.8s;
  float: left;
  box-shadow:0ch 2px 5px 2px rgb(92, 88, 93);
  margin-top: 20px;

}

iframe:hover{
  opacity: 1.2;
}


.adress{
  width: 45%;
  height: 350px;
  float: left;
  border: 1px solid rgb rgb(82, 77, 77);
  padding: 10px;
  text-align: center;
  font-size: 10px;
  border-color: #312f2f;
  border: 1px solid rgb(163, 159, 159);
  margin: 10px;
  border-radius: 5px;
  box-shadow: #312f2f;
  box-shadow:0ch 2px 5px 2px rgb(122, 113, 126);
  margin-top: 20px;
  
}

.span1{
  display: block;
  text-align: center;
  font-size: 15px;
  color: rgb(39, 35, 35);
  letter-spacing: 2px;
  margin: 10px;
}


